.new-entry {
  display: flex;
  padding: 15px 10px;
  border-bottom: 1px solid #f0f0f0;
}

.new-entry__details {
  flex: 2;
}

.new-entry__field {
  border: none;
  outline: none;
  resize: none;
  font-size: 16px;
  padding: 5px;
}

.new-entry__actions {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}

.actions__time {
}

.actions__trigger {
  margin: 0 0 0 10px;
  cursor: pointer;
}

.actions__trigger svg path  {
  fill: #555;
}

.actions__trigger:hover svg path  {
  fill: #3498db;
  transition: fill 0.2s ease;
}

.actions__trigger.disabled {
  cursor: default;
}

.actions__trigger.disabled svg path  {
  fill: #999;
  transition: fill 0.2s ease;
}